/*
 * SPDX-FileCopyrightText: Copyright (c) 2026, UCSC Rocket Team
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/ {
	/*
	 * Link the RTT control block and buffers at the start of AXISRAM1
	 */
	aliases {
		rtt-custom-section = &axisram1;
	};
};
